.connect-success{
.successful-connect-reduce{
    background-color: #f1f1f1 !important;
    width: 100% !important;
}
.connect-success-text{
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 22px !important
    ;
    margin-top: -16px !important;
}
.merci-connect-success{
    font-size: 26px !important;
}
.break-line-connect{
    margin-bottom: 0.85714rem !important;
    width: 95% !important;
    background-color: #bfbfbf !important;
}
}
